



.container1 {
  /* background-image:url('nostradamus.jpeg'); */
  height: 1000px;
  /* background-size: auto; */
  background-color: black;


  /* display: flex; */
}

.ball {
  width: 60%;
  height: 60%;
  position: absolute;
  margin:auto;
  background-color: black;


}


#portal {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;


    }

.head{
  height: 400px;
  background-image: url("nostradamus_header.png");
  background-size: cover;
  background-repeat: no-repeat;
    }



.button {
  background: pink;
  padding: 1em 2em;
  color: black;
  border-radius: 25px;
  font-size: 16px;
  height: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.button:hover{
  background: grey;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

.modal-text {
  background-color: white;
  height: 300px;
  width: 300px;
  margin: 150px auto;
  padding: 20% auto;
  border-radius: 50%;
  padding-left: 150px;
  padding-top: 150px;

}



.closeBtn {
  color:#ccc;
  float: right;
  font-size: 40px;
  padding-right: 30px;
}

.closeBtn:hover {
  color: black;
  cursor: pointer;
}
